
.canvas {
    background-image: url('../docs/assets/images/blue.jpg');
    background-size: cover;
    
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
    overflow: hidden;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
} 