body {
    background-color: rgb(37, 127, 168);
}
header{
    color: rgb(189, 228, 236);
    font-size: 50px;
    font-family: 'Monoton', cursive;
    text-align: center;
}
.container {
    display: flex;
    justify-content:center;
    align-items: center;
}
.canvas {
    background-image: url('/images/background.jpg');
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
}

.game-intro {
    width: 400px;
    height: 601px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    align-items: center;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    color: rgb(22, 70, 92);
   
}
